div.title {
	font-size: 16px;
	color: blue;
}

div.url {
	font-size: 12px;
	color: black;
}

a.indexed_url {
	font-size: 14px;
}

a.title {
	font-size: 16px;
	color: blue;
	text-decoration: none;
}

a.url {
	font-size: 12px;
	color: black;
	text-decoration: none;
}

a {
	text-decoration: none;
}

input.url{
	width: 30%;
}

